body {
    background-image: gray; /* For browsers that do not support gradients */
    background-image: -webkit-linear-gradient(left top, #1A6CB8, silver); /* For Safari 5.1 to 6.0 */
     /*background-image: -o-linear-gradient(bottom right, #1A6CB8, silver); /* For Opera 11.1 to 12.0 */
     /*background-image: -moz-linear-gradient(bottom right, #1A6CB8, silver); /* For Firefox 3.6 to 15 */
    /*background-image: linear-gradient(to bottom right,  #1A6CB8, silver); /* Standard syntax (must be last) */
    color: white;
}
h1 {
    color: white;
}
img
    {
    display: block;
    margin-left: auto;
    margin-right: auto }
}

@media screen and (min-width: 769px) and (max-width: 1024) {
    table {
    font-family: Times New Roman, sans-serif;
    border-collapse: collapse;
    width: 500px;
    color: white;
 
 }
h1 {
    color: white;
}
img
    {
    display: block;
    margin-left: auto;
    margin-right: auto }
}

/*Header Code*/
.div {
   display: table;
    margin: 0 auto;  
}
#header ul {
     display: table;
    margin: 0 auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e1e1ee;
}

#header li {
    float: left;
}

#header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#header li a:hover {
    background-color: #b3b3b3;
}
/* end nav */
