table {
    font-family: Times New Roman, sans-serif;
    border-collapse: collapse;
    width: 500px;
    color: white;
 
 }
td, th {
   border: 2px solid #000000;
    text-align: left;
    padding: 8px; 
 }

body {
    background-color: #26a399;
    color: white;
}
h1 {
    Color: white;
}
