
table {
    font-family: Times New Roman, sans-serif;
    border-collapse: collapse;
    width: 100%;
 }
td, th {
   border: 2px solid #000000;
    text-align: left;
    padding: 8px; 
 }
tr:nth-child(even) {
   background-color: #949191;
 }
 video {
     display: block;
    margin: 0 auto;
 }
