body {
    background-image: gray; /* For browsers that do not support gradients */
    background-image: -webkit-linear-gradient(left top, #1A6CB8, silver); /* For Safari 5.1 to 6.0 */
     /*background-image: -o-linear-gradient(bottom right, #1A6CB8, silver); /* For Opera 11.1 to 12.0 */
     /*background-image: -moz-linear-gradient(bottom right, #1A6CB8, silver); /* For Firefox 3.6 to 15 */
    /*background-image: linear-gradient(to bottom right,  #1A6CB8, silver); /* Standard syntax (must be last) */
    color: white;
}
h1 {
    color: white;
}

@media screen and (min-width: 769px) and (max-width: 1024) {
    table {
    font-family: Times New Roman, sans-serif;
    border-collapse: collapse;
    width: 500px;
    color: white; 
 }
body {
    background-image: gray; /* For browsers that do not support gradients */
    background-image: -webkit-linear-gradient(left top, #1A6CB8, silver); /* For Safari 5.1 to 6.0 */
     /*background-image: -o-linear-gradient(bottom right, #1A6CB8, silver); /* For Opera 11.1 to 12.0 */
     /*background-image: -moz-linear-gradient(bottom right, #1A6CB8, silver); /* For Firefox 3.6 to 15 */
    /*background-image: linear-gradient(to bottom right,  #1A6CB8, silver); /* Standard syntax (must be last) */
    color: white;
}

fieldset { 
    Border: 2px;
    }
legend {
    font-family: Times New Roman, sans-serif;
    font-weight: bold;
    }
            


