body {
    background-image: gray; /* For browsers that do not support gradients */
    background-image: -webkit-linear-gradient(left top, #1A6CB8, silver); /* For Safari 5.1 to 6.0 */
     /*background-image: -o-linear-gradient(bottom right, #1A6CB8, silver); /* For Opera 11.1 to 12.0 */
     /*background-image: -moz-linear-gradient(bottom right, #1A6CB8, silver); /* For Firefox 3.6 to 15 */
    /*background-image: linear-gradient(to bottom right,  #1A6CB8, silver); /* Standard syntax (must be last) */
    color: white;
}
 audio {
     display: block;
    margin: 0 auto;
 }
h1 {
    color: white;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto }
.Story {
    text-align: center; 
    width: 600px;
    padding: 200px;
    margin: 25px;
}

@media screen and (min-width: 769px) and (max-width: 1024) {
    table {
    font-family: Times New Roman, sans-serif;
    border-collapse: collapse;
    width: 500px;
    color: white;
 
 }
h1 {
    color: white;
}
img
    {
         
    display: block;
    margin-left: auto;
    margin-right: auto }
}

/*Header Code*/
.NavButtons{
    text-align: center;   
}

#header ul {
    
    list-style-type: none;
    overflow: hidden;
    background-color: #6C7570;
}

#header li {
     display:inline-block;
}

#header li a {
     display:inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none
}

#header li a:hover {
    background-color: #b3b3b3;
}
