idfloatleft{
  background-color: rgb(245,245,220);
   float: left;
  margin: 0 0 10px 10px;
  font-family: "Verdana", Serif;
}
classheadlinedot{
  color: rgb(255,0,0;
   border-bottom: thick dotted #0000FF;
}
idabsolutegray{ 
    background-color: rgb(204,204,204);
}
classrelativegreen{ 
    background-color: rgb(204,204,204);
}
idfixedgray{ 
    background-color: rgb(204,204,204);
}
