idfloatleft{
  background-color: rgb(245,245,220);
  float: left;
  margin: 0 0 10px 10px;
  font-family: verdana;
  padding: 20px;
}
classheadlinedot{
   color: rgb(255,0,0);
   border-bottom: thick dotted #0000FF;
}
idabsolutegray{ 
  padding: 25px 50px;
  border-style: solid;
  background-color: rgb(211,211,211);
  border: 1px solid black;

}
classrelativegreen{ 
    background-color: rgb(204,204,204);
}
idfixedgray{ 
    background-color: rgb(204,204,204);
}
